[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = git@github.com:sidsingh-nvidia/Megatron-Bridge.git
	branch = sidsingh/canonical-router-replay
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = r0.6.0
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = git@github.com:sidsingh-nvidia/Gym.git
	branch = sidsingh/megatron-adapter-merged
	shallow = true
